.image-masonry-overlay {
  cursor: pointer;
  display: flex;
  display: -ms-flexbox;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 250ms linear;
  background-image: linear-gradient(rgba(0,0,0,0) 75%,rgba(0,0,0,0.4));
}

.image-masonry-overlay:hover {
  opacity: 1;
}

.image-masonry-text {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  padding: 5px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
