/* body {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
} */

/* .image-masonry-item:after {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  right: 3px;
  display: block;
  content: "";
  background: #eee;
  line-height: 1;
  position: absolute;
  transition: opacity 200ms ease-in-out;
  opacity: 1;
}

.image-masonry-item[data-loaded]:after {
  opacity: 0;
}*/

.image-masonry-overlay {
  display: block;
  position: absolute;
  z-index: 2;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.image-masonry-bar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-masonry-text {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-masonry-item-interact {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  opacity: 0;
}

.image-masonry-item-interact.has-content {
  transition: opacity 250ms linear;
  background-image: linear-gradient(rgba(0,0,0,0) 75%,rgba(0,0,0,0.4));
}

.image-masonry-item:hover .image-masonry-item-interact {
  opacity: 1;
}

.image-masonry-overlay:focus + .image-masonry-item-interact {
  opacity: 1;
}
