.lazy-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: block;
}

.lazy-image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.lazy-image.is-loaded {
  opacity: 1;
}

.lazy-image.is-instant {
  opacity: 1;
  transition: none;
}
