.masonry-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.masonry-row:last-child {
  margin-right: 0 !important;
}

.masonry-item {
  position: relative;
}

.masonry-item:last-child {
  margin-right: 0 !important;
  flex: 1;
}

.masonry-image {
  display: block;
  width: 100%;
  height: 100%;
}

.lazy-image-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  display: block;
}

.lazy-image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.lazy-image.is-loaded {
  opacity: 1;
}

